html, body{
	padding: 0;
	margin: 0;
}

header > h1{
	font-family: 'Lobster';
	color: #f8f8f8;
	background-color: pink;
	height: 100px;
	line-height: 100px;
	padding: 0em 0.3em;
	margin: 0;
	font-size: 3em;
}

h1 > a{
    color: pink;
    font-family: 'Lobster';
}
h1 > a:hover{
	color: pink;
	opacity: 0.8;
}
p{
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 16px;
}
.blog-post{
	margin: 2em 1em;
}